:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  background: rgb(var(--v-theme-background)) !important;
  color: rgb(var(--v-theme-on-background)) !important;
  line-height: 1.5;
  font-weight: 400;

//   // color-scheme: light dark;
//   // color: black;
//   // background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.breakable {
  white-space: normal !important;
  word-break: break-word !important;
}

.fpm-title {
  text-align: left;
  h1 {
      font-family: Manrope;
      font-size: 40px;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
  }
  .subtitle {
      //styleName: UI/Text/M/Regular;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 15px;
  }
}

/**
******************
* Vuetify Theme and Components
******************
 */

 .text-error {
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  letter-spacing: 0.20000000298023224px !important;
  text-align: left !important;
 }

 .v-messages__message {
  // background-color: yellow !important;
  //styleName: UI/Text/XS/Medium;
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  letter-spacing: 0.20000000298023224px !important;
  text-align: left !important;
  // color: #FF7676 !important;
  margin-top: 10px !important;
}
.v-messages__message::before {
  content: url('https://api.iconify.design/mdi/alert-circle.svg');
  margin-right: 8px !important;
  filter: invert(59%) sepia(94%) saturate(2816%) hue-rotate(345deg) brightness(60%) contrast(100%);
}
.v-footer {
  text-align: right !important;
  right: 0px !important;
  position: absolute !important;
  // background-color: gray !important;
  width: 100%  !important;
}
.v-navigation-drawer__content {
  display: flex !important;
  flex-direction: column !important;
}
.v-text-field .v-input__details {
    padding-inline: 0px !important;
}


// Misc

.vertical-center {
  height: 100vh;
  align-items: center;
  // background-color: gray; //for testing
}

a {
  font-weight: 500;
  color: rgb(var(--v-theme-primary)) !important;
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--v-theme-primary-lighten-2)) !important;
}

// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// .card {
//   padding: 2em;
// }

#app {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
